@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
}

#page-wrapper {
  position: relative;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
/* Header */
#header {
  top: 0;
  width: 100%;
  position: fixed;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

#header-img {
  width: 40px;
  height: 40px;
}

#nav-bar ul {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

#nav-bar ul li {
  list-style: none;
}

#nav-bar ul li a {
  text-decoration: none;
  color: #756f6f;
  font-size: 16px;
  font-weight: 400;
}

#hero {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

form input[type="email"] {
  height: 40px;
  width: 300px;
  padding-left: 10px;
}

form input[type="submit"] {
  margin-top: 10px;
  padding: 5px 0;
}
#features {
  background-color: #dedede;
}
#features > div {
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6% 0;
}

strong {
  padding-right: 4px;
}
.flex-row {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

#how-to {
  padding-top: 25px;
  width: 680px;
  height: 450px;
  margin: 10px auto;
}

#prices {
  background-color: #dedede;
  height: 500px;
}

.card-img {
  width: 450px;
  height: 280px;
}

#prices > div {
  top: 40px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#prices div.card {
  border: 1px solid #000;
  text-align: center;
}

#prices div.card h2 {
  margin: 6px 0;
}

button {
  background-color: #fff;
  color: #c13131;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 6px 0;
}

button:hover {
  background-color: #c13131;
  color: #fff;
  cursor: pointer;
  transform: scale(1.2);
}

#copyright {
  margin: 3px;
  font-size: 14px;
  color: #726a6a;
  text-align: center;
}

@media (max-width: 930px) {
  #prices {
    overflow: auto;
  }
  #prices > div {
    flex-direction: column;
  }
  #prices > div .card {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  #features > div {
    flex-direction: column;
  }

  iframe {
    margin-left: 50px;
    width: 80%;
  }
}

@media (max-width: 630px) {
  iframe {
    width: 70%;
  }
}
@media (max-width: 540px) {
  iframe {
    margin-left: 20px;
  }
}
